<template>
<div class="w-full relative">
  <HomeNavNar>
    <HomeNavBarItem title="Sign up" href="/signup"/>
    <HomeNavBarItem title="Log in" isDeep href="/login"/>
  </HomeNavNar>
  <Marginer mv="100"/>
  <Header margin="20px 0 20px 20px" title="Latests Uploads... " />
  <HomeFicLayout>
    <HomeFicCover title="fic 1 title asdas das das dasd asd as da" author="Jean-Pièrre asd asdad" rating="quite good asd asdas d"/>
  </HomeFicLayout>
  <Footer />
</div>
</template>

<script>
// @ is an alias to /src
import HomeNavNar from "@/components/HomeNavBar.vue"
import HomeNavBarItem from "../components/HomeNavBarItem.vue"
import HomeFicLayout from "../components/HomeFicLayout.vue"
import Marginer from "../components/Marginer.vue"
import Header from "../components/Header.vue"
import HomeFicCover from "../components/HomeFicCover.vue"
import Footer from "../components/Footer.vue"

export default {
  name: 'Home',
  components: {
    HomeNavNar,
    HomeNavBarItem,
    HomeFicLayout,
    Marginer,
    Header,
    HomeFicCover,
    Footer
  }
}
</script>
