<template>
    <div class="coverBox shadow-lg flex flex-col items-center justify-around rounded-md bg-gray-50">
        <h1 class="text-lg text-center font-bold">{{title}}</h1>
        <div class="border-2 coverPhoto"> Cover Photo</div>
        <div class="mt-2 w-full flex flex-row justify-around items-center">
            <div class="flex flex-col justify-between items-center">
                <h2 class="text-center font-bold text-lg">Author</h2>
                <h2 class="text-center text-base">{{author}}</h2>
            </div>
            <div class="flex flex-col justify-between items-center">
                <h2 class="font-bold text-lg">Rating</h2>
                <h2 class="text-center text-base">{{rating}}</h2>
            </div>
        </div>
        <button class="hover:bg-yellow-200 p-1 rounded-md border-2 shadow-lg border-yellow-300 font-bold mt-2 mb-2">View More</button>
    </div>
</template>

<script>
    export default {
        name: "HomeFicCover",
        props: {
            title: String, 
            rating: String,
            author: String
        }
    }
</script>

<style scoped>
.titleWrap{
    overflow-wrap: normal;
    word-wrap: normal;
    hyphens: none;
}
    .coverBox{
        height: 350px;
        width: 220px;
    }
    .coverPhoto{
        height: 50%;
        width: 80%; 
    }
</style>