<template>
<div class="relative"> 
    <div class="container mx-auto layoutBox border-2">
        <div class="flex justify-around items-center h-full">
            <slot></slot>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        name: "HomeFicLayout",
    }
</script>

<style scoped>
    .layoutBox{
        height: 900px;
    }
</style>