<template>
    <div class="block" :style="style">
    </div>
</template>

<script>
    export default {
        name: "Marginer",
        props: {
            mv: String,
            mh: String
        },
        computed: {
            style(){
                return `height: ${this.mv ? this.mv : 1}px; width: ${this.mh ? this.mh : 1}px`
            }
        }
    }
</script>

<style scoped>
</style>